.header_wrapper {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #969696cf;
}

.header_container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Block 1: Logo */
.header_logo {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
}



/* Block 2: Controls (Lang, Currency, Search) */
.header_controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.selector_group {
    display: flex;
    gap: 10px;
}

.custom_select {
    background: transparent;
    border: none;
    color: rgba(37, 37, 37, 1);

    font-family: Manrope, sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.custom_select option {
    background-color: #ffffff;
    color: rgba(37, 37, 37, 1);

}

.search_btn {
    background: transparent;
    border: none;
    color: rgba(37, 37, 37, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.search_btn:hover {
    color: #009661;
}

/* Block 3: User Actions */
.header_actions {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
        text-decoration: none;
        color: rgba(37, 37, 37, 1);
    }
}

.action_link {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.action_link:hover {
    color: #009661;
}

.btn_seller {
    background-color: #009661;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn_seller:hover {
    background-color: #00b374;
    transform: scale(1.05);
}

/* Dropdown Menu */
.profile_dropdown {
    position: absolute;
    top: 40px;
    right: 170px; /* Adjust based on btn_seller */
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 200px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown_item {
    padding: 12px 16px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown_item:hover {
    background-color: #f5f5f5;
}

.badge {
    background-color: #ff4d4f;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: auto;
}
