h5 {
    color: #91a0ac;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.lending_page {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    background: #141416;
    .main_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        /* text-align: center;/ */
        color: #ffffff;
        height: 100%;
        min-height: 600px;
        h5 {
            margin-top: 157px;
            color: #91a0ac;

            font-family: Manrope;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0%;
        }
        button {
            width: 311px;
            height: 64px;
            border-radius: 8px;
            padding-top: 20px;
            padding-right: 32px;
            padding-bottom: 20px;
            padding-left: 32px;
        }
    }
    button {
        border-radius: 8px;
        color: #ffffff;
        background: #009661;
        font-family: Manrope;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-transform: uppercase;
        cursor: pointer;
        transform: scale(1);
        transition: 0.2s;
    }
    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: scale(1);
    }
}

.container_lending {
    padding: 32px 18.23vw;
}

.lending_main_bg {
    background: url(../../../../public/lending/bg1.png);
    background-size: 100% 100%;
    min-height: 850px;
}
.lending_header {
    a {
        font-family: Manrope;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #858586;
        text-decoration: none;
        margin: 60px;
    }
    .logo {
        font-family: IBM Plex Sans;
        font-weight: 700;
        font-size: 30px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #ffffff;
        span {
            font-family: IBM Plex Sans;
            font-weight: 700;
            font-size: 30px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #009661;
        }
    }
    button {
        background: #1b1b1e;

        width: 116px;
        height: 56px;
        border-radius: 8px;
        opacity: 1;
        padding-top: 16px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        gap: 10px;
        color: #ffffff;
        cursor: pointer;
        transform: scale(1);
        transition: 0.2s;
    }
    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: scale(1);
    }
}
