footer {
    background: rgba(33, 32, 38, 1);
    /* max-width: 1920px; */
    width: 100%;
    @media screen and (max-width: 768px){
        
        .flex_row { flex-direction: column;}
        h2 {
            font-size: 24px;
            text-align: center;
        }
        .footer_content-item {
            align-items: center;
            text-align: center;
            max-width: none;
            margin: 20px auto;
        }
    }
}
.footer_content {
    padding: 30px 0 50px 0;
    h2 {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        letter-spacing: 12px;
        vertical-align: middle;
        text-align: left;
        margin: 0;
    }
    svg {
        cursor: pointer;
        transition: 0.3s ease;
        fill: #ffffff;
    }
    svg:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
        fill: #009661;
    }
}
.footer_content-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    max-width: 354px;
    min-height: 61px;
    height: auto;
    /* flex: 1 1 30%; */

    a {
        font-family: Manrope;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #eeeeee;
        text-decoration: none;
        padding: 10px;
    }
    p {
        padding: 10px;
        color: rgb(143, 129, 129) !important;
    }
}
.footer_soc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_bottom {
    display: flex;
    flex-direction: column;
    border: 2px solid #333333;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    p {
        text-align: center;
        margin: 16px auto;
        align-items: center;
        font-family: Manrope;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
}
.footer_items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex: 1 1 70%; */
    min-width: 60%;
    width: 100%;
    justify-content: space-around;
    .footer_content-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}