* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_ctr {
  justify-content: center;
  align-items: center;
}
.flex_btw {
  justify-content: space-between;
}
.flex_around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
} 

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
