* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.flex_wrap {
  flex-wrap: wrap;
}

.flex_ctr {
  justify-content: center;
  align-items: center;
}
.flex_btw {
  justify-content: space-between;
}
.flex_around {
  justify-content: space-around;
}
.grid_row {
  display: grid;
  grid-template-columns: 50% 50% ;
  gap: 20px;
}
.align-center {
  align-items: center;
} 
.text-center {
  text-align: center;
}
.order-mobile {
  display: flex;
  flex-direction: column;
  
  @media screen and (max-width: 480px) {
    order: 1;
    padding-top: 30px;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
