:root {
  font-family: 'Manrope', 'IBM Plex Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* Dynamic font size:
     min-width: 320px -> 32px
     max-width: 1440px -> 40px
     Formula: calc(min_size + (max_size - min_size) * ((100vw - min_width) / (max_width - min_width)))
  */
  font-size: clamp(32px, calc(32px + (40 - 32) * ((100vw - 320px) / (1440 - 320))), 40px);
  line-height: 1.1;
}

h2 {
  /* Dynamic font size:
     min-width: 320px -> 24px
     max-width: 1440px -> 32px
  */
  font-size: clamp(24px, calc(24px + (24 - 18) * ((100vw - 320px) / (1440 - 320))), 24px);
  line-height: 1.2;
}

h3 {
  /* Dynamic font size:
     min-width: 320px -> 20px
     max-width: 1440px -> 24px
  */
  font-size: clamp(20px, calc(20px + (18 - 14) * ((100vw - 320px) / (1440 - 320))), 18px);
  line-height: 1.3;
}
p {
  font-size: clamp(20px, calc(20px + (14 - 12) * ((100vw - 320px) / (1440 - 320))), 14px);
  line-height: 1.6;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
